/* resetando a margin do site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /* Deuxar o botão transparente ao passar mouse */
  .textologin button:hover {
    opacity: 0.5;
  }

  /* Deuxar o input transparente ao passar mouse */
  .textologin input:hover{
    opacity: 0.5;
  }

  /* Tirar o sublinhado */
  a {
    text-decoration: none;
  }
   
  /* Dando cor ao placeholder(palavra dentro do input) */
  .textologin ::placeholder{
    color: #054A29;
    }

    /* Tirando a borda do input, deixando da mesma cor da pagina e movimentando ela */
   .textologin input{
     background-color: #EFF0E8 ;
     border: 0;
     box-sizing: border-box;
     border-bottom: 1px solid #054A29;
     width: 100%;
     height: 30px;
     margin-top: 70px;
   }

       /* Deixando o background de tudo da mesma cor e deixando o display como flexivel */ 
    .telaLogin{
    background-color: #EFF0E8;
    display: flex;
    }

       /* Essa parte é a que tem a imagem da soja e a logo */ 
     .esquerda-login{
      width: 50%;
     height: 100%;
     display: flex;
     justify-content:center ;
     align-items:center ;
     flex-direction: column;
     background: rgb(17,199,111);
     background: linear-gradient(to bottom, rgba(18, 190, 107, 0.658) 54%, rgba(  239, 240, 232, 0.66
     ) 83%);
     }

     /* Definindo tamanho para a imagem da soja*/ 
     .esquerda-login .imagemsoja{
     width: 30vw;
     }

     /* Definindo tamanho para a imagem da logo*/ 
     .esquerda-login .imagemlogologin{
     width: 30vw;
     }

    /* Colocando no centro a frase de Cadastro e dando uma cor mais escura ao texto*/ 
     .frasecadastro {
     display: flex;
     text-align: center;
     justify-content: center;
     color: #054A29;
     }

    /*Essa parte é toda a parte de login (seria como a parte direita do site)
    onde tem os input de cadastro e os botão*/ 
     .textologin {
     width: 50%;
     height: 100%;
     border: none;
     padding: 50px;
     background-color: #EFF0E8    ;
     font-size: 12pt;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     justify-content: center;
     }

    /* Modificando o botão da tela de cadastro (tirando a borda, colocando um background
    do botão para a mesma cor do site, e entre outros*/ 
     .textologin .botaocadastrar {
     margin-top: 60px;
     width: 50%;
     color: #054A29   ;
     background-color: #D9D9D9;
     padding: 15px 30px 15px;
     font-weight: bold;
     border: none;
     border-radius: 30px;
     cursor: pointer;
     }
  
     /* Modificando TODOS os inputs da tela da direita*/ 
    .textologin input{
     background-color: #EFF0E8 ;
     border: 0;
     box-sizing: border-box;
     border-bottom: 1px solid #054A29;
     width: 100%;
     height: 30px;
     margin-top: 70px;
     }

    /* Estilizando o botão de voltar para a tela de Login*/ 
     .textologin .botaoVoltarParaATeladeLogin {
     background-color: #EFF0E8;
     border: 0;
     color: #054A29;
     font-size: 13px;
     font-weight: bold;
     margin-top: 120px;
     cursor: pointer;
     display: flex;
     text-align: center;
     justify-content: center;
     font-size: 12pt;
    }

     /*botão para voltar para a home do site*/ 
     .botaodevoltarparaahome {
     cursor: pointer; 
     }
 
     /* Div para colocar o botão no centro */
     .div_botaocadastrar {
       justify-content: center;
       display: flex;
       align-items: center;
     }

     /* Div para colocar a frase de voltar */
     .voltar{
        display: flex;
        justify-content: flex-start;
        width: 100%;
     }